"$schema" = "https://jj-vcs.github.io/jj/latest/config-schema.json"

[ui]
default-command = "log"

[templates]
git_push_bookmark = '"ptw/push-" ++ change_id.short()'

[user]
name = "prestontunnellwilson"
email = "prestontunnellwilson@users.noreply.github.com"

[aliases]
tug = ["bookmark", "move", "--from", "closest_bookmark(@)", "--to", "closest_pushable(@)"]

[revset-aliases]
'closest_bookmark(to)' = 'heads(ancestors(to) & bookmarks())'
'closest_pushable(to)' = 'heads(ancestors(to) & mutable() & ~description(exact:"") & (~empty() | merges()))'

[template-aliases]
'format_short_signature(signature)' = '''
coalesce(signature.email().local(), email_placeholder)'''
"format_timestamp(timestamp)" = "timestamp.ago()"
